DAEMON_HOST=0.0.0.0
DAEMON_PORT=4100
PANEL_URL=http://localhost:4000
NODE_ID=
BOOTSTRAP_TOKEN=
DAEMON_TOKEN=
DAEMON_BASE_DIR=/var/lib/leviathan
DOCKER_SOCKET_PATH=/var/run/docker.sock
DAEMON_DB_DRIVER=memory
DAEMON_DB_HOST=127.0.0.1
DAEMON_DB_PORT=3306
DAEMON_DB_NAME=leviathan_daemon
DAEMON_DB_USER=leviathan_daemon
DAEMON_DB_PASSWORD=
DAEMON_DB_NAMESPACE=leviathan
