DAEMON_HOST=0.0.0.0
DAEMON_PORT=4100
PANEL_URL=https://panel.example.com
NODE_ID=node_123
BOOTSTRAP_TOKEN=nd_bootstrap_xxx
DAEMON_TOKEN=
DAEMON_BASE_DIR=/var/lib/leviathan
DOCKER_SOCKET_PATH=/var/run/docker.sock

